// @import "variables";
// @import "@material/checkbox/mdc-checkbox";

:host {
    padding: var(--basic-padding);
    display: block;
    box-shadow: var(--md-shadow-1);
    background-color: var(--color-white);
}

p {
    color: red;
}
