dot-progress-bar {
    text-align: center;

    div {
        color: var(--color-sec);
        border: 1px solid var(--color-sec);
        border-radius: 5px;
        height: 32px;
        width: 100%;
        position: relative;
        margin-bottom: var(--basic-padding);

        &:before {
            content: "";
            background-color: var(--color-sec);
            width: calc(var(--progress-width, 0) * 1%);
            display: flex;
            position: absolute;
            left: 0px;
            bottom: 0px;
            top: 0px;
            max-width: 100%;
        }
    }

    span {
        color: var(--color-sec);
    }
}
