@import "variables";

:host {
    @include mwc-dotcms-theme;
    display: block;

    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }
}

dot-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    position: relative;
    transition: box-shadow var(--basic-speed) ease;

    &:hover {
        box-shadow: var(--md-shadow-2);
    }
}

dot-contentlet-thumbnail {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    position: relative;
    width: 100%;
}

dot-context-menu {
    position: absolute;
    right: var(--basic-padding);
    top: var(--basic-padding);
    z-index: 1;
}

header {
    align-items: center;
    display: flex;
    padding: var(--basic-padding);
}
