@import "variables";

:host {
    @include mwc-dotcms-theme;
}

dot-card {
    transition: box-shadow var(--basic-speed) ease;

    &:hover {
        box-shadow: var(--md-shadow-2);
    }
}

header {
    align-items: center;
    display: flex;
    padding: var(--basic-padding);
}

img {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: block;
    max-width: 100%;
    min-width: 100%;
}
