dot-drop-zone {
    display: flex;
    background: burlywood;
    width: 600px;
    height: 600px;

    mwc-icon {
        display: none;
    }

    &.drag-enter {
        mwc-icon {
            display: block;
        }
    }
}
